Flask>=0.10.1
Flask-SQLAlchemy>=1.0
Flask-Login>=0.2.9
Flask-WTF>=0.9.5
flask-bootstrap>=3.3
requests>=2.0.0
git+git://github.com/freedomsponsors/python-paypalx.git@34d624ed8a7b6505aa6e6e12c0a5b854cacbc612#egg=paypalx
waitress>=0.8
