[general]

# API port
port = 5000

# Enable debug error messages; True/False, for security reasons in production it should be False
debug = True

# SQLAlchemy database url.
# See http://docs.sqlalchemy.org/en/latest/core/engines.html
database_url = sqlite:///db/test.db

# Externally accessible location of bug tracker
tracker_url = http://localhost:8100

# Admin user identifier
admin = admin

# Maximum pledge amount
max_pledge_amount = 100

# Available payment gateways; PLAIN, PAYPAL_STANDARD, PAYPAL_REST, PAYPAL_ADAPTIVE
payment_gateways = PLAIN


[project]

# Enable default project that can be accessed without a token (used when this API serves only one project)
default = True

# Enable test projects (disable when API is available from outside world)
test = True

# Enable default root project used to create other projects (disable when API is available from outside)
root = False


[paypal]

# Use Paypal sandbox or live system; True by default
sandbox = True

# Email of the entity receiving payments; must match with other details like tokens, etc
receiver_email = paypal-business@bountyfunding.org

# RESTful API creadentials, copy from your paypal account
client_id = AYVGkRAGQ2-viFkyzNBNLFowKO508IahpGaEHOO4UBAjeC8jEriWrUQ-jlQl
client_secret = EElHKBBRaqqWA_fzUDoEz6OmLWCZ4hM7z53o518SY14gkWAGM5xLC4VGDHrP

# Paypal Payment Data Transfer (PDT) access token
pdt_access_token = FKTGVLLw3LXxveS9hx0sfDms_e7B7gYHiZ7RnFdfu22GX5KHMQm_OtH6bWS

# Adaptive API credentials
user_id = paypal-business_api1.bountyfunding.org
password = PRTQUFRE33AADNHW
signature = A381RCO10yoqbozM1Rmd.SSRX7XjATUXUDZoRv87AY83bFJiWXmwem0K
application_id = APP-80W284485P519543T
