[general]

# Hostname / IP address of the host serving the webapp
host = 127.0.0.1

# Webapp port
port = 8080

# Number of worker threads
threads = 4

# Secret used for signing session cookies
secret = BountyFunding

# SQLAlchemy database url.
# See http://docs.sqlalchemy.org/en/latest/core/engines.html
database_url = sqlite:///db/test.db

# Externally accessible location of bug tracker
tracker_url = http://localhost:8100

# Admin user identifier
admin = admin

# Maximum pledge amount
max_pledge_amount = 100

# Available payment gateways; DUMMY, PAYPAL_STANDARD, PAYPAL_ADAPTIVE
payment_gateways = DUMMY


[log]

# Log Python exceptions in production mode
exceptions = True

# Log SQL statements
sql = False

# Log outgoing HTTP requests
http = False


[project]

# Enable default project that can be accessed without a token (used when this BountyFunding serves only one project)
default = True

# Enable test projects (disable when BountyFunding is accessible from outside world)
test = True

# Enable default root project used to create other projects (disable when BountyFunding is accessible from outside)
root = False


[paypal]

# Use Paypal sandbox or live system; True by default
sandbox = True

# Email of the entity receiving payments
receiver_email = paypal-business@bountyfunding.org

# Paypal Payment Data Transfer (PDT) access token
pdt_access_token = FKTGVLLw3LXxveS9hx0sfDms_e7B7gYHiZ7RnFdfu22GX5KHMQm_OtH6bWS

# PayPal Adaptive API credentials
user_id = paypal-business_api1.bountyfunding.org
password = PRTQUFRE33AADNHW
signature = A381RCO10yoqbozM1Rmd.SSRX7XjATUXUDZoRv87AY83bFJiWXmwem0K
application_id = APP-80W284485P519543T

