[general]
# SQLAlchemy database url.
# See http://docs.sqlalchemy.org/en/latest/core/engines.html
database_url = sqlite:///db/test.db

# Externally accessible location of bug tracker
tracker_url = http://localhost:8100

# Allow project delete operation (enable only for testing), True/False
project_delete_allow = False

# Maximum pledge amount
max_pledge_amount = 100

# Available payment gateways
payment_gateways = PLAIN, PAYPAL
