{% extends "bootstrap/base.html" %}

{% block title %}BountyFunding{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
			<span class="navbar-brand">
				<img src="{{ url_for('gui.static', filename='logo.png') }}"/>
			<span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('gui.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('gui.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="center-block" style="width: 600px">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}

		{% block page_content %}{% endblock %}
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
