{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BountyFunding - {{ issue_ref }} - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1><a href="{{ url }}">{{ issue_ref }} - {{ title }}</a></h1>
</div>
	
<div class="row">
	<div class="form-horizontal">
		<div class="form-group form-group-lg">
			<label class="col-md-2 control-label" for="status">Status</label>
			<div class="col-md-4">
		  		<input id="status" type="text" class="form-control" value="{{ status }}" readonly>
			</div>
		</div>
		<div class="form-group form-group-lg">
			<label class="col-md-2 control-label" for="bounty">Bounty</label>
			<div class="col-md-4">
				<div class="input-group input-group-lg">
					<input id="bounty" type="text" class="form-control" value="{{ bounty }}" readonly>
					<span class="input-group-addon">€</span>
				</div>
			</div>
		</div>
	</div>
</div>

<form class="form form-horizontal" method="post" role="form" action="{{ url_for(".issue", project_name=project_name, issue_ref=issue_ref) }}">
	{{ form.hidden_tag() }}
	{{ wtf.form_errors(form, hiddens="only") }}
	<div class="row">
		<h2>Sponsor</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-step="1" data-slider-value="{{ my_bounty }}"/>
		</div>
		<div class="col-md-3">
			<div class="input-group input-group-lg">
				<input id="amount" type="text" name="amount" class="form-control" value="{{ my_bounty }}" autocomplete="off">
				<span class="input-group-addon">€</span>
			</div>
		</div>
		<div class="col-md-3">
			{% set operation = 'Sponsor' if my_bounty == 0 else 'Update' %} 
			<input id="submit" class="btn btn-success btn-lg" type="submit" value="{{ operation }}" name="submit">
		</div>
	</div>
</form>

{% endblock %}

